@import 'normalize.scss';
@mixin font-roboto {
    font-family: 'Roboto', sans-serif;
}

body {
    @include font-roboto();
    //background-color: black;
}


// === header ===

.section-header {
    display: flex;
    flex-direction: row;

    &-left {
        background-color: rgb(43, 44, 44);
        width: 36.5%;
        position: relative;

        &__wrapper {
            position: absolute;
            right: 70px;
            top: 70px;
            margin-top: 27vh;


            &-foto {
                width: 251px;
                height: 251px;
                border-radius: 50%;                

                .foto {
                    border-radius: 150px;
                }
            }
        }
    }

    &-right {
        background-color: rgb(45, 46, 46);
        width: 63.5%;
        line-height: 0.91;
        color: rgb(164, 165, 166);
 
        &__name {
            margin-top: 37vh;
            margin-left: 70px;
            width: 60%; 
            font-size: 61px;            
            font-weight: 300;
            text-transform: lowercase;
        }

        &__lastname {
            margin-left: 70px;
            width: 60%;
            font-size: 67px;
            font-style: normal;
            color: rgb(224, 168, 13);
            font-weight: 500;
            text-transform: uppercase;

        }

        &__position {
            margin-left: 70px;
            margin-top: 30px;
            width: 60%;
            font-weight: 300;
            font-size: 21px;
        }

        &__contact {
            margin-top: 33vh;
            margin-left: 70px;
            margin-bottom: 70px;
            font-size: 10pt;
            width: 60%;
            display: flex;
            flex-direction: row;
            border-top: 1px solid rgb(64, 66, 66);
            

            .a{
                color: rgb(151, 152, 153);
                text-decoration: none;
            }
            
            .a:hover{
                color: rgb(224, 168, 13);
                text-decoration: none;
            }

            &-location {
                width: 25%;
                font-weight: 300;
                p {
                    color: rgb(151, 152, 153);
                }
            }

            &-phone {
                width: 25%;
                font-weight: 300;
                p {
                    color: rgb(151, 152, 153);
                }
            }

            &-web {
                width: 25%;
                font-weight: 300;
                p {
                    color: rgb(151, 152, 153);
                }
            }

            &-email {
                width: 25%;
                font-weight: 300;
                p {
                    color: rgb(151, 152, 153);
                }
            }

        }
        
    }
    
}

// === / header  ===


// === intro ===
.section-intro {
    display: flex;
    flex-direction: row;
    color: rgb(164, 165, 166);

    &-left {    
        width: 36.5%;
        position: relative;
        background-color: rgb(41, 42, 42);

        &-wrapper {
            position: absolute;
            right: 70px;
            top: 70px;
            text-align: right;
            line-height: 1.75;

            &__heading {
                font-size: 13pt;
                font-weight: 700;
            }

            &__comment {
                font-weight: 400;
                font-size: 10pt;
            }
        }
    }

    &-right {
        width: 63.5%;
        background-color: rgb(43, 44, 44);

        &-wrapper {
            padding: 70px;
            width: 60%;
            line-height: 1.75;
            color: rgb(151, 152, 153);

        }
    }
}
// === / intro  ===

// === expertise ===
.section-expertise {
    display: flex;
    flex-direction: row;
    color: rgb(164, 165, 166);

    &-left {
        width: 36.5%;
        background-color: rgb(43, 44, 44);        
        position: relative;

        &-wrapper {
            position: absolute;
            right: 70px;
            top: 70px;
            text-align: right;
            line-height: 1.75;
            
            &__heading {
                font-size: 13pt;
                font-weight: 700;
            }

            &__comment {
                font-weight: 400;
                font-size: 10pt;
            }
        }        
    }

    &-right {
        width: 63.5%;
        background-color: rgb(45, 46, 46);


        &-wrapper {
            width: 60%;
            font-size: 10pt;
            padding-top: 70px;
            padding-bottom: 30px;
            padding-left: 70px;
            padding-right: 70px;

            &__heading {
                font-size: 13pt;
                font-weight: 700;
            }

            &__row {
                width: 100%;
                display: flex;
                flex-direction: row;
                margin-bottom: 40px;

                &-col {
                    width: 100%;
                    display: flex;
                    flex-direction: row;
                    font-weight: 400;
                    line-height: 1.75;
                    margin-right: 50px;


                    &-num {
                        width: 30px;
                        color: rgb(224, 168, 13);

                    }

                    &-content {
                        width: 100%;
                        p {
                            color: rgb(151, 152, 153);
                        }
                        
                    }
                }
            }
        }
    }
}
// === / expertise  ===

// === skills ===
.section-skills {
    display: flex;
    flex-direction: row;
    color: rgb(164, 165, 166);

    &-left {
        width: 36.5%;
        background-color: rgb(41, 42, 42);        
        position: relative;

        &-wrapper {
            position: absolute;
            right: 70px;
            top: 60px;
            text-align: right;            
            line-height: 1.75;

            &__heading {
                font-weight: 700;
                font-size: 13pt;
            }

            &__comment {
                font-weight: 400;
                font-size: 10pt;
            }
        }
    }

    &-right {
        width: 63.5%;
        background-color: rgb(43, 44, 44);

        &-wrapper {
            width: 60%;
            font-size: 10pt;            
            padding: 70px 70px 20px 70px;

            &__row {
                height: auto;
                display: flex;
                flex-direction: row;
                
                &-col {
                    width: 50%;
                    display: flex;
                    flex-direction: row;
                    font-weight: 400;
                    line-height: 0.6;

                     
                    &-num {
                        font-size: 13pt;
                        font-weight: 700;
                        margin-bottom: 15px;
                        width: 40px;
                        color: rgb(224, 168, 13);

                    }

                    &-content {
                        font-size: 13pt;
                        font-weight: 700;

                   
                    }
                }
            }

            .wrapper-progressbar {
                margin-bottom: 50px;
                display: flex;
                flex-direction: row;

                &-col {
                    width: 50%;
                    margin-right: 50px;


                    &-background {
                        height: 5px;
                        background-color: rgb(64, 66, 66);

                        &-progress1 {
                            height: 5px;
                            width: 80%;
                            background-color: rgb(224, 168, 13);
                        }

                        &-progress2 {
                            height: 5px;
                            width: 75%;
                            background-color: rgb(224, 168, 13);
                        }

                        &-progress3 {
                            height: 5px;
                            width: 70%;
                            background-color: rgb(224, 168, 13);
                        }

                        &-progress4 {
                            height: 5px;
                            width: 65%;
                            background-color: rgb(224, 168, 13);
                        }

                        &-progress5 {
                            height: 5px;
                            width: 90%;
                            background-color: rgb(224, 168, 13);
                        }

                        &-progress6 {
                            height: 5px;
                            width: 50%;
                            background-color: rgb(224, 168, 13);
                        }
                    }
                }
            }
        }
    }
}
// === / skills  ===

// ===  experience  ===
.section-experience {
    display: flex;
    flex-direction: row;
    color: rgb(164, 165, 166);

    &-left {
        width: 36.5%;
        background-color: rgb(43, 44, 44);
        position: relative;

        &-wrapper {
            position: absolute;
            right: 70px;
            top: 70px;
            text-align: right;       
            line-height: 1.75;

            &__heading {
                font-weight: 700;
                font-size: 13pt;
            }

            &__comment {
                font-weight: 400;
                font-size: 10pt;
            }
        }

    }


    &-right {
        width: 63.5%;
        background-color: rgb(45, 46, 46);

        &-wrapper {
            width: 60%;
            padding: 70px 70px 0 70px;
    
            .row {
                display: flex;
                flex-direction: row;
    
                .col {
                    display: flex;
                    flex-direction: column;

                    &-wrapper{
                        width: 10px;
 
                        &__point {
                            margin-top: 6px;
                            margin-bottom: 6px;                         
                            height: 10px;
                            width: 10px;
                            background-color: rgb(224, 168, 13);
                            border-radius: 50%;
                        }
                    }
    
                    &__timeline {
                        height: 100%;
                        width: 0;
                        margin-left: 4px;
                        border: 1px solid #404242;
                    }

                    &__timeline-empty {
                        height: 70px;
                        margin-left: 4px;
                        border: 1px solid #404242;
                    }

                    &__title {
                        width: 47%;
                        margin-left: 18px;
                        line-height: 1.75;


                        &-year {
                            font-size: 8pt;
                            margin-top: 2px;
                            color: #6d6e6e;
                        }
                        
                        &-company {
                            font-weight: 700;
                            font-size: 13pt;
                        }

                        &-position {
                            font-size: 8pt;
                        }

                        &-location {
                            font-size: 8pt;
                            color: #6d6e6e;
                        }
                    }

                    &__description {
                        width: 50%;
                        line-height: 1.75;
                        font-size: 10pt;
                        color: rgb(151, 152, 153);
                    }
                }
            }
        }     
    }
}
// === / experience  ===


// ===  education  ===
.section-education {
    display: flex;
    flex-direction: row;
    color: rgb(164, 165, 166);

    &-left {
        width: 36.5%;
        background-color: rgb(41, 42, 42);
        position: relative;

        &-wrapper {
            position: absolute;
            right: 70px;
            top: 70px;
            text-align: right;       
            line-height: 1.75;

            &__heading {
                font-weight: 700;
                font-size: 13pt;
            }

            &__comment {
                font-weight: 400;
                font-size: 10pt;
            }
        }

    }


    &-right {
        width: 63.5%;
        background-color: rgb(43, 44, 44);

        &-wrapper {
            width: 60%;
            padding: 0 70px 0 70px;
    
            .row {
                display: flex;
                flex-direction: row;
    
                .col {
                    display: flex;
                    flex-direction: column;

                    &-wrapper{
                        width: 10px;
 
                        &__point {
                            margin-top: 6px;
                            margin-bottom: 6px;                         
                            height: 10px;
                            width: 10px;
                            background-color: rgb(224, 168, 13);
                            border-radius: 50%;
                        }
                    }
    
                    &__timeline {
                        height: 100%;
                        width: 0;
                        margin-left: 4px;
                        border: 1px solid #404242;
                    }

                    &__timeline-empty {
                        height: 70px;
                        margin-left: 4px;
                        border: 1px solid #404242;
                    }

                    &__timeline-empty-end {
                        height: 70px;
                        margin-left: -5px;
                        width: 20px;
                        border-top: 2px solid #404242;                        
                    }

                    &__title {
                        width: 47%;
                        margin-left: 18px;
                        line-height: 1.75;


                        &-year {
                            font-size: 8pt;
                            margin-top: 2px;
                            color: #6d6e6e;
                        }
                        
                        &-company {
                            font-weight: 700;
                            font-size: 13pt;
                        }

                        &-position {
                            font-size: 8pt;
                        }

                        &-location {
                            font-size: 8pt;
                            color: #6d6e6e;
                        }
                    }

                    &__description {
                        width: 50%;
                        line-height: 1.75;
                        font-size: 10pt;
                        color: rgb(151, 152, 153);
                    }
                }
            }
        }     
    }
}
// === / education  ===




  
