@import 'normalize.scss';
@mixin font-roboto {
    font-family: 'Roboto', sans-serif;
}

body {
    @include font-roboto();
    //background-color: black;
}


// === header ===

.section-header {
    display: flex;
    flex-direction: row;

    &-left {
        background-color: rgb(43, 44, 44);
        width: 36.5%;
        position: relative;

        &__wrapper {
            position: absolute;
            right: 70px;
            top: 70px;
            margin-top: 27vh;


            &-foto {
                width: 251px;
                height: 251px;
                border-radius: 150px;
                

                .foto { 
                    border-radius: 150px;
                }

            }
        }
        
    }

    &-right {
        background-color: rgb(45, 46, 46);
        width: 63.5%;
        line-height: 0.91;
        color: rgb(164, 165, 166);


        &__name {
            margin-top: 37vh;
            margin-left: 70px;
            width: 60%; 
            font-size: 61px;            
            font-weight: 300;
            text-transform: lowercase;
        }

        &__lastname {
            margin-left: 70px;
            width: 60%;
            font-size: 67px;
            font-style: normal;
            color: rgb(224, 168, 13);
            font-weight: 500;
            text-transform: uppercase;

        }

        &__position {
            margin-left: 70px;
            margin-top: 30px;
            width: 60%;
            font-weight: 300;
            font-size: 21px;
        }

        &__contact {
            margin-top: 33vh;
            margin-left: 70px;
            margin-bottom: 70px;
            font-size: 10pt;
            width: 60%;
            display: flex;
            flex-direction: row;
            border-top: 1px solid rgb(64, 66, 66);
            

            .a{
                color: rgb(164, 165, 166);
                text-decoration: none;
            }
            
            .a:hover{
                color: rgb(224, 168, 13);
                text-decoration: none;
            }


            &-location {
                width: 25%;
                font-weight: 300; 
            }

            &-phone {
                width: 25%;
                font-weight: 300;
            }

            &-web {
                width: 25%;
                font-weight: 300;
            }

            &-email {
                width: 25%;
                font-weight: 300;                
            }

        }
        
    }
    
}

// === / header  ===


// === intro ===
.section-intro {
    display: flex;
    flex-direction: row;
    color: rgb(164, 165, 166);



    &-left {
    
        width: 36.5%;
        position: relative;
        background-color: rgb(41, 42, 42);



        &-wrapper {
            position: absolute;
            right: 70px;
            top: 60px;
            text-align: right;
            font-size: 10pt; 
            font-weight: 400;
            line-height: 1.75;
        }

    }

    &-right {
        width: 63.5%;
        background-color: rgb(43, 44, 44);

        &-wrapper {
            width: 60%;
            line-height: 1.75;
            padding: 70px;
            
        }
    }
}
// === / intro  ===

// === expertise ===
.section-expertise {
    display: flex;
    flex-direction: row;
    color: rgb(164, 165, 166);

    &-left {
        width: 36.5%;
        background-color: rgb(43, 44, 44);        
        position: relative;

        &-wrapper {
            position: absolute;
            right: 70px;
            top: 60px;
            text-align: right;
            font-weight: 400;
            font-size: 10pt;
            line-height: 1.75;
        }
        
    }

    &-right {
        width: 63.5%;
        background-color: rgb(45, 46, 46);

        &-wrapper {
            width: 60%;
            font-size: 10pt;            
            padding: 60px 70px 60px 70px;

            &__row { 
                height: auto;
                display: flex;
                flex-direction: row;

                &-col {
                    width: 60%;
                    display: flex;
                    flex-wrap: nowrap;
                    font-weight: 400;
                    line-height: 1.75;

                    &-num {
                        width: 30px;
                        color: rgb(224, 168, 13);
                    }

                    &-content {
                        width: 90%;

                    }
                }
            }
        }
    }
}
// === / expertise  ===

// === skills ===
.section-skills {
    display: flex;
    flex-direction: row;
    color: rgb(164, 165, 166);

    &-left {
        width: 36.5%;
        background-color: rgb(41, 42, 42);        
        position: relative;

        &-wrapper {
            position: absolute;
            right: 70px;
            top: 60px;
            text-align: right;
            font-weight: 400;
            font-size: 10pt;
            line-height: 1.75;
        }
        
    }

    &-right {
        width: 63.5%;
        background-color: rgb(43, 44, 44);

        &-wrapper {
            width: 60%;
            font-size: 10pt;            
            padding: 60px 70px 60px 70px;

            &__row {
                height: auto;
                display: flex;
                flex-direction: row;
                //border: 1px solid white;

                &-col {
                    width: 60%;
                    display: flex;
                    flex-wrap: nowrap;
                    font-weight: 400;
                    line-height: 1.75;                    

                    &-num {
                        width: 40px;
                        color: rgb(224, 168, 13);
                    }

                    &-content {
                        width: 90%;
                        
                    }
                }
            }

            .wrapper-progressbar {
                height: 5px;
                //border: 1px solid white;
                display: flex;
                flex-direction: row;

                &-col {

                    width: 50%;

                    &-background {
                        height: 5px;
                        background-color: rgb(64, 66, 66);
            
                        &-progress {
                            height: 5px;
                            width: 80%;
                            background-color: rgb(224, 168, 13);
                        }
                        
                    }

                }



            }
        }
    }
}
// === / skills  ===